<?xml version="1.0" encoding="utf-8" ?>
<setting>
	<network_setting>
		<dhcp_options>on</dhcp_options> 
		<ip></ip> 
		<mask></mask>
		<gateway></gateway>
		<dns></dns>
		<dns_alt></dns_alt>
	</network_setting>
	<download_setting>
	<auto>
		<auto_boot_options>on</auto_boot_options> 
			<auto_time_options>on</auto_time_options> 
			<auto_time_value>00:00:00</auto_time_value> 
		</auto>
		<protocol>
			<protocol_type>http</protocol_type>				
			<protocol_url>customercontent.dreamoc.com</protocol_url>
			<protocol_port>80</protocol_port>
			<protocol_id>emil2</protocol_id>
			<protocol_pw>5115</protocol_pw> 
			<protocol_path>/users/emil2/</protocol_path> 
		</protocol>
	</download_setting>
	<ntp_setting>
		<ntp_options>on</ntp_options>

		<ntp_ip>204.152.184.72</ntp_ip>
	  <ntp_timezone_adjust>+</ntp_timezone_adjust> 
		<ntp_timezone>02:00</ntp_timezone>
	</ntp_setting>
	<autopower_setting>
		<autopower_options>off</autopower_options> 
		<poweron_time>07:30:00</poweron_time>
		<poweroff_time>20:00:00</poweroff_time> 
	</autopower_setting>
	<spotlight_setting>
		<spotlight_options>manual</spotlight_options>
		<manual_step>70</manual_step>
	</spotlight_setting>
	<volume_setting>
		<volume_value>40</volume_value>
	</volume_setting>
</setting>