/* body{ font-family:Georgia, "Times New Roman", Times, serif; font-size:14px} */
#wrap{
	border:solid #CCCCCC 1px;
	width:203px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:3px;
	margin-top:3px;
	margin-left:80px;
}

label{
    display: inline-block;
    width: 200px;
}
#formdchp {
    margin: 0 auto;
    width: 500px;
}
.block{
margin-bottom:20px;
}

span.masterTooltip {
	font-family: 'calibriregular' !important;
    color: #202020;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 15px;
    margin-left: 10px;
    width: 17px;
}
.block label{
font-family: 'calibriregular';
font-size: 14px;
}
.block span{
font-family: 'calibriregular';
font-size: 14px;
}
.block input{
font-family: 'calibriregular';
font-size: 14px;
border: 1px solid #ccc;
padding :4px;
}
.txt{
font-family: 'calibriregular';
font-size: 18px;
}

h2, p {
	margin-bottom:10px;
}
.tooltip {
	display:block;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:14px;
	font-family: 'calibriregular' !important;
	width: 300px;
}
.disfld
{
	background: none repeat scroll 0 0 #E4E0E6;
    border: 1px solid;
    font-family: 'calibriregular';
    font-size: 14px;
    opacity: 0.4;
    padding: 2px;
}